.footer{
    background-color: white;
	text-align: center;
}

.footer-items {
    right: 5%;
    display: inline;
}

.footer-anchor {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.footer-content {
    margin-top: 50px;
}

.footer-content p{
    display: inline;
}

.copywrite-text {
    color: blue;
}